.login-page {
    height: 100vh;
    background: url(https://img.freepik.com/premium-photo/man-talking-cellphone-drinking-takeout-coffee-outside-airport_116547-39253.jpg?w=996);
    background-size: cover;
}
.login-form {
    position: relative;
    left: 55%;
    top: 10%;
    width: 39%;
    background: linear-gradient(45deg, #ff9900, #a333ff);
    padding: 2rem 5rem 10rem;
    margin-block: 2.9rem;
    border-radius: 5px;
}
.login-form input {
    background: transparent;
    color: #ffff;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffff;
    margin-block: 2rem;
}

input::placeholder {
    color: #ffff;
}


.account {
    width: 25rem;
}

.login-form h2 {
    color: #ffff;
    text-align: center;
    margin-bottom: 6.4rem;
}

.login-button {
    background-color: var(--primary-text-color);
    border-radius: 50px;
    margin-top: 4rem;
    margin-inline: 11.5rem;
}


/* 2xl */
@media (max-width: 1536px) {
 
}

/* xl */
@media (max-width: 1280px) {
  .login-form {
    top: 3%;
    margin-block: 2.5rem;
    padding: 2rem 5rem 3rem;
  }
  .account {
    width: 21rem;
  }
  .login-button {
    margin-inline: 8rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .account {
    width: 15rem;
  }
  .login-button {
    margin-inline: 5rem;
  }
}

/* md */
@media (max-width: 768px) {
  .login-form {
    left: 16%;
    width: 70%;
    padding: 1rem 8rem 3rem;
  }
  .account {
    width: 18rem;
  }
  .login-form h2 {
    margin-block: 3rem;
  }
  .login-button {
    margin-inline: 6rem;;
  }
}

/* sm */
@media (max-width: 640px) {
  .login-form {
    padding: 1rem 5rem 3rem;
  }
  .login-form {
    margin-block: 3rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .login-page {
    background: none;
  }
  .login-form {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6rem 12rem;
    margin-block: 0;
  }
  .login-button {
    margin-inline: 7rem;
  }
}