.login-page {
    border: 1px solid transparent;
    background: url(https://img.freepik.com/premium-photo/man-talking-cellphone-drinking-takeout-coffee-outside-airport_116547-39253.jpg?w=996);
    background-size: cover;
}
.login-form {
    position: relative;
    left: 55%;
    top: 10%;
    width: 39%;
    background: linear-gradient(45deg, #ff9900, #a333ff);
    padding: 2rem 5rem 10rem;
    margin-block: 2.9rem;
    border-radius: 5px;
}
.login-form input {
    background: transparent;
    color: #ffff;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffff;
    margin-block: 2rem;
}

input::placeholder {
    color: #ffff;
}


.account {
    width: 25rem;
}

.login-form h2 {
    color: #ffff;
    text-align: center;
    margin-bottom: 6.4rem;
}

.login-button {
    background-color: var(--primary-text-color);
    border-radius: 50px;
    margin-top: 4rem;
    margin-inline: 11.5rem;
}