.signup-page {
    border: 1px solid transparent;
    background: url(https://img.freepik.com/premium-photo/man-talking-cellphone-drinking-takeout-coffee-outside-airport_116547-39253.jpg?w=996);
    background-size: cover;
}

.signup-form {
    position: relative;
    left: 55%;
    top: 10%;
    width: 39%;
    background: linear-gradient(45deg, #ff9900, #a333ff);
    padding: 2rem 4rem;
    margin-block: 2.9rem;
    border-radius: 5px;
}

.signup-form input {
    background: transparent;
    color: #ffff;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffff;
    margin: 2rem 0.9rem;
}

.acc {
    width: 26rem;
}

.signup-form h2 {
    color: #ffff;
    text-align: center;
    margin-bottom: 3rem;
}

.submit-button {
    background-color: var(--primary-text-color);
    border-radius: 50px;
    margin-top: 3rem;
    margin-inline: 12rem;
}