.feature-section {
    height: 5rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    /* padding-inline: 2.5rem; */
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 10rem;
}

.hotel-section {
    height: 100%;
    display: inline-block;
    width: 50%;
    /* background-color: var(--primary-btn-color); */
    padding-top: 1.5rem;
    border-top-left-radius: 50px;
}

.flight-section {
    height: 100%;
    width: 50%;
    display: inline-block;
    padding-top: 1.5rem;
    border-top-right-radius: 50px;
}

.active {
    background-color: var(--primary-btn-color);
}

.inactive {
    background-color: white;
}

.search-section {
    background: linear-gradient(45deg, #ff9900, #a333ff);
    width: 100%;
}
.search-section table {
    margin: 2rem 25rem;
}

input {
    /* margin: 10px !important; */
    padding: 5px;
}

.destination::placeholder {
    color: rgb(0, 0, 0) !important;
}

.search-section table thead tr th {
    /* padding-left: 1.5rem; */
    text-align: left ;
    padding: 10px;
}

.search-section table tbody tr td {
    padding: 10px;
}

.destination {
    height: 2rem;
    width: 15rem;
}

.check {
    height: 2rem;
    width: 10rem;
}

.adult {
    height: 2rem;
    width: 8rem;
}

.children {
    height: 2rem;
    width: 8rem;
}

.search {
    position: relative;
    top: 5px;
    border-radius: 50px !important;
    width: 6rem;
}

.SearchContainer {
    max-width: 1536px;
    margin-inline: auto;
    padding-inline: 0.5rem;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .SearchContainer {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .SearchContainer {
      max-width: 1024px;
    }
    .search-section table {
        margin: 2rem 20rem;
    }
    .destination {
      width: 13rem;
    }
    .check {
        width: 9rem;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .SearchContainer {
      max-width: 768px;
    }
    .search-section table {
        margin: 2rem 11rem;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .SearchContainer {
      max-width: 640px;
    }
    .search-section table {
        margin: 2rem 5rem;
    }
    .destination {
        width: 10rem;
    }
    .check {
        width: 8rem;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .SearchContainer {
      max-width: 475px;
    }
    .search-section table {
        margin: 2rem 10rem;
    }
    .check-section {
        display: none;
        padding: 0 !important;
    }
    .destination {
        width: 100%;
    }
    .search {
        top: 10px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .SearchContainer {
      width: 100%;
    }
    .search-section table {
        margin: 2rem 0;
    }
    .destination {
        width: 100%;
    }
    .search {
        width: 5rem;
    }
  }